:root {
  --very-dark-color: #050505;
  --dark-color: #363b37;
  --main-color: #48574b;
  --light-color: #ffffff;
  --base-color: #a4be9d;
  --contrast-color: #bd1e1e;
  --contrast-green: #28a745;
}

* {
  box-sizing: border-box;
}

body {
  margin: 10px;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.custom-container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* NAVIGATION */

/* Normal state styling */
a{
  font-size: x-large;
  font-weight: 300;
  color: black !important;
  text-decoration: none /* Remove underline by default */
}

/* Hover state styling */
a:hover {
  color: red !important; /* Change link color on hover */
  text-decoration: underline; /* Add underline on hover */
}

.logo{
  max-height: 100px;
}

header.masthead {
  position: relative;
  height: 650px;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: rgb(255, 255, 255);
  background: url(../images/bg-hero.png);
  background-size: cover;
}

#about{
  background-color: var(--light-color);
}
.image-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  background-color: var(--light-color);
  margin-bottom: 20px;
  height: 75px;
  font-size: 28px;
  border-bottom: 5px solid var(--contrast-color);
  text-align: center; /* Center the title text */
  line-height: 75px; /* Vertical centering */
}

#projectBig{
  width: 100%;
  height: 400px; /* Set the desired height for your container */
  overflow: hidden;
}

#projectSmall{
  width: 100%;
  height: 200px; /* Set the desired height for your container */
  overflow: hidden;
}

.object-fit-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#pro1{
  background: url(../images/chair.jpg);
  background-size: cover;
}

#pro2{
  background: url(../images/T-shirt.jpg);
  background-size: cover;
}

#pro3{
  background: url(../images/designing.jpg);
  background-size: cover;
}

#pro4{
  background: url(../images/menu.jpg);
  background-size: cover;
}

#pro5{
  background: url(../images/decorating.jpg);
  background-size: cover;
}

.customBtn{
  background-color: var(--light-color);
  margin-bottom: 20px;
  height: 75px;
  width: 200px;
  font-size: 28px;
  border-bottom: 5px solid var(--contrast-color);
}

.double-height-row{
  height: 200%;
}

#work {
  background-color: var(--very-dark-color);
  color: var(--light-color);
}

#experience{
  background-color: var(--light-color);
  color: var(--dark-color)
}

#passion, #work, #contact{
  background-color: var(--dark-color);
  color: var(--base-color);
}

#work-details{
  background-color: var(--base-color);
  color: var(--dark-color);
}

#passion p, #passion a{
  font-size: 12px;
}

#project1, #project4{
  background-color: var(--dark-color);
  color: white;
}

#project2, #project5{
  background-color: var(--light-color);
  color: rgb(2, 2, 2);
}

footer{
  background-color: var(--light-color);
  color: var(--dark-color)
}